Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*

CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case

WarningsAsErrors: 'bugprone-*'
